In [1]:
#Step (1): Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
#Step (2): Loading iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
#Step (3): Dropping the "species" column
iris = iris.drop(labels = 'species', axis = 1, inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
#Step (4): Adding columns 
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0           5.1          3.5           1.4          0.2        8.6
1           4.9          3.0           1.4          0.2        7.9
2           4.7          3.2           1.3          0.2        7.9
3           4.6          3.1           1.5          0.2        7.7
4           5.0          3.6           1.4          0.2        8.6

In [8]:
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [18]:
#Step (5): 

mean = list(iris.mean())

std_dev = list(iris.std())

min = list(iris.min())

max = list(iris.max())

summary_dict = {'mean':mean, 'std_dev':std_dev, 'min':min, 'max':max}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

       mean   std_dev  min   max
0  5.843333  0.828066  4.3   7.9
1  3.057333  0.435866  2.0   4.4
2  3.758000  1.765298  1.0   6.9
3  1.199333  0.762238  0.1   2.5
4  8.900667  0.889272  6.8  11.7
5  4.957333  2.507689  1.2   9.2

In [19]:
iris.describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_sum,petal_sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,8.900667,4.957333
std,0.828066,0.435866,1.765298,0.762238,0.889272,2.507689
min,4.300000,2.000000,1.000000,0.100000,6.800000,1.200000
25%,5.100000,2.800000,1.600000,0.300000,8.300000,1.800000
50%,5.800000,3.000000,4.350000,1.300000,8.850000,5.650000
75%,6.400000,3.300000,5.100000,1.800000,9.575000,7.000000
max,7.900000,4.400000,6.900000,2.500000,11.700000,9.200000